<div id="post-detail">
    <div class="card main main-raised">
        <div class="post-content">
            <%- page.content %>
        </div>
        <div class="post-comment">
            <%- partial('_partial/post/comment') %>
        </div>

    </div>
</div>
