html,
body {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.nav-color {
    background-color: #212121;
    background: linear-gradient(to right, #EC6C6C, #FFD479, #FFFC79, #73FA79, #73FA79, #73FDFF, #D783FF);
}

header .nav-transparent {
    background-color: transparent !important;
    background-image: none;
    box-shadow: none;
}

.footer-color {
    background-color: black;
}

.page-footer .footer-copyright {
    background-color: rgb(26 170 214 / 8%);
}

nav .brand-logo {
    color: #e91e63;
}

nav ul a {
    color: #0e7477;
}

main {
    flex: 1 0 auto;
}

nav .brand-logo {
    display: block;
}

header .brand-logo .logo-img {
    top: 9.5px;
    margin-right: 10px;
    height: 45px;
    line-height: 64px;
}

.dropdown-content {
    top: -64px;
}

.dropdown-content li a {
    display: flex;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #26a69a;
}

.waves-effect {
    display: block;
}

.nav-menu {
    margin-left: 3px;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 400px;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    /* margin-top: -64px; */
    height: 100vh;
}

.carousel .carousel-item {
    width: 100%;
    height: 100%;
    min-height: 400px;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #4A148C;
    opacity: 0.8;
}

.backgrounds .background {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    /* background-attachment: fixed; */
}

#bg-center {
    width: 100%;
    position: absolute;
    top: 40%;
    left: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.scroll-down {
    position: absolute;
    bottom: 60px;
    width: 200px;
    margin: auto;
    display: block;
    cursor: pointer;
    padding-bottom: 40px;
    left: 0;
    right: 0;
    text-transform: uppercase;
}

.scroll-down .chevron {
    margin-top: 20px;
    display: block;
    -webkit-animation: float 2s infinite;
    animation: float 2s infinite;
    color: #FF4081;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes float {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } } {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    50% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px); }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }
  
@keyframes pulse {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    50% {
      -webkit-transform: translate(0, 10px);
              transform: translate(0, 10px); }
    100% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }

.chevron::before {
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    vertical-align: top;
    width: 20px;
}

.chevron.bottom:before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.card {
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07) !important;
}

.card .card-image img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.post-image {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 66%;
}

.post .post-item .post-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}

.post .post-item .post-content {
    position: relative;
    padding: 20px;
    height: 110px;
    word-break: break-all;
}

.paginator {
    text-align: center;
    margin-bottom: 30px;
}

.paginator a, .paginator span {
    display: inline-block;
    border-radius: 1px;
    text-align: center;
    vertical-align: top;
    margin: 0 3px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    zoom: 1.2;
}

.paginator a i, .paginator span i{
    vertical-align: middle;
}

.paginator a {
    color: #FF5722;
}

.paginator a:hover{
    background-color: #212121;
    color: #FFF;
}

.paginator .current {
    background-color: #212121;
    color: #FFF;
}
