<div class="carousel carousel-slider backgrounds">
    <div class="carousel-fixed-item center">
        <div class="scroll-down aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="800">
            <a class="waves-effect waves-teal btn pulse" href="#">开始阅读</a>
            <i class="chevron bottom"></i>
        </div>
    </div>
    <div class="carousel-item background overlay lazyload" data-src="./img/bg/bg-1.jpg" style="background-image: url('./img/bg/bg-1.jpg');"></div>
    <div class="carousel-item background overlay lazyload" data-src="./img/bg/bg-2.jpg"  style="background-image: url('./img/bg/bg-2.jpg');"></div>
    <div class="carousel-item background overlay lazyload" data-src="./img/bg/bg-3.jpg"  style="background-image: url('./img/bg/bg-3.jpg');"></div>
</div>

<header>
    <div class="center" id="bg-center">
        <h2 class="title white-text"><%= config.title %></h2>
        <p class="description white-text">This is your first panel</p>
    </div>
</header>
