<%
    <!-- let carousel_bg_list = new Array(); -->
    let carousel_bg_list = [];

    if (theme.carousel.carousel_bg && theme.carousel.carousel_bg.length > 0) {
        theme.carousel.carousel_bg.forEach(function(carousel_bg) {
            carousel_bg_list.push(url_for(carousel_bg));
        });
    }
%>

<div class="carousel carousel-slider backgrounds">
    <div class="carousel-fixed-item center">
        <div class="scroll-down aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="800">
            <a class="waves-effect btn pulse" href="#" style="background-color: #E91E63;">开始阅读</a>
            <i class="chevron bottom"></i>
        </div>
    </div>
    <% for (let index in carousel_bg_list) { %>
    <div class="carousel-item background overlay lazyload" data-src="<%- url_for(carousel_bg_list[index]) %>" style="background-image: url('<%- url_for(carousel_bg_list[index]) %>');"></div>
    <% } %>
</div>

<header>
    <div class="center" id="bg-center">
        <h2 class="title white-text"><%= config.title %></h2>
        <%- partial('_partial/typed') %>
    </div>
</header>
