<footer class="page-footer footer-color">
    <div class="container">
        <div class="row center">
            <div class="col l12 m12 s12">
                <div>Copyright © 2019 - 2021 xx  |  Powered by Hexo  |  Theme xxcoding</div>
                <div id="icp">粤ICP备17065679号-1</div>
                <div>破网站已运行了</div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            Made with <span style="color: red;">❤️</span> by xxcoding
        </div>
    </div>
</footer>
