<div class="cover-background">
    <div class="pattern lazyload" data-src="<%- url_for(theme.banner) %>"
        style="background-image: url('<%- url_for(theme.banner) %>');">

    </div>
</div>
<div class="center" id="bg-center">
    <h2 class="title white-text"><%= page.title %></h2>
</div>
<style>
    #bg-center {
        top: 52%;
    }
</style>