<header>
    <nav class="nav-extended pushpin">
        <div class="container">
            <div class="nav-wrapper">
                <a class="brand-logo waves-effect waves-light" href="/">
                    <img src="<%= theme.logo %>" class="logo-img" alt="LOGO">
                    <span class="logo-span"><%= config.title %></span>
                </a>
                <%- partial('_partial/navigation') %>
            </div>
        </div>
    </nav>
</header>
<%- partial('_partial/sidenav') %>
